<a href="https://colab.research.google.com/github/YashRane123/ML-LAB/blob/main/ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li = [i**2 for i in range(0,9)]
print(li)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l = [3*i for i in range(1,11)]
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
even = [i for i in range(0,10) if(i%2==0)]
print(even)

[0, 2, 4, 6, 8]

In [ ]:
num=input("Enter : ")
l = [i for i in num if i=='6']
print(len(l))

Enter : 265562
2

In [ ]:
n = int(input("n = "))
l = [i for i in range(0,n) if '6' in str(i)]
print(len(l))

n = 1000
271

In [ ]:
n = input()
l = [i for i in n if " " in str(i)]
print(len(l))

hello I am yash rane
4

In [ ]:
l = [i for i in range(0,1000) if(i%2==0 and i%3==0)]
print(len(l))

167

In [ ]:
l = [i for i in range(0,1000) if(i%2==0 and i%5==0)]
print(len(l))

100